*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav bar*/
nav{
    height: 60px;
    padding-left: 30px;
    overflow: hidden;
    border-bottom: solid 2px #DDD;
}
nav button{
    padding: 8px;
    height: 100%;
    border: none;
    cursor: pointer;
    width: 100px;

}
nav .but1{
    float: left;
    background-color: white;
    color:darkblue;
    padding: 0 20px 0 0 ;
    border-right: solid 2px #DDD;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .but1 a{
    text-decoration: none;
}
nav .but2{
    float: right;
    background-color: blue;
    color: white;
}


/* grneral body*/
.parent{
    width: auto;
    display: flex;

}
.parent .kid1{
    width: 70%;
    height: 100%;
    padding: 50px 30px 0 30px;
    

}
.parent .kid2{
    width: 30%;
    background-color: #DDD;
    height: 100%;

}

/*  kid1 */
/* new-item  */
.parent .kid1 .new-item{
    overflow: hidden;
    width: 100%;
}
.parent .kid1 .new-item .container{
    width: 100%;
}
.parent .kid1 .new-item .productImg{
    width: 20%;
    height: 150px;

}
.parent .kid1 .new-item .productImg img{
    width: 100%;
    height: 100%;
}
.parent .kid1 .new-item .new-item-info{
    width: 80%;
}
.parent .kid1 .new-item .new-item-info .name-item{
    font-weight: bolder;
    font-size: large;
    background-color: #dfe6e9;
    border-bottom: solid 1px;
    margin-bottom:8px ;


}
.parent .kid1 .new-item .new-item-info .delete{
    margin-top: 2%;
    margin-right: 5%;
    float: right;
    width: 150px;
    padding: 8px 0;
    background-color: red;
    color: #FFF;
    font-weight: bolder;
    border: none;
    border-radius: 20px;

}
.parent .kid1 .new-item .price-item h2{
    font-weight: bolder;
}
.parent .kid1 .new-item .price-item .couantity{
    margin:20px auto 0 auto;
}
.parent .kid1 .new-item .price-item .couantity .couantity-num{
    background-color: white;
    border-radius: 10px;
    border:  1px solid rgb(145, 145, 145);
    width: 70px;
    margin: 0 5px 0 5px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.parent .kid1 .new-item .price-item .couantity button{
    background-color: #0984e3;
    color: #FFF;
    border: none;
    width: 40px;
    font-weight: bolder;
    font-size:20px;
    text-align: center;
    height: 40px;
    border-radius: 10px;

}

/* items list  */
.parent .kid1 .items .head .container{
    width: 100%;
}
.parent .kid1 .items .head{
    background-color: rgb(0, 0, 154);
    color: #FFF;
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 0;
}
.parent .kid1 .items .details{
    background-color: #DDD;
    padding: 5px 0 5px 0;
    font-weight: bolder;


}
.parent .kid1 .items .details .container{
    width: 100%;
    margin-top: 10px;
    border-bottom: 3px solid #FFF;
    padding-bottom:5px ;
}

/* total price  */
.parent .kid1 .total{
    background-color: rgb(0, 0, 154);
    color: #FFF;
    padding: 15px;
    margin-top: 8px;
}
.parent .kid1 .total .num{
    text-align: center;
    font-weight: bolder;
}
.parent .kid1 .total .discount{
    color: #0984e3;
}

/* get receipt*/
.parent .kid1 .get-receipt{
    width: 300px;
    padding: 20px 10px 10px 10px;
    margin:20px  0 ;
    border: 1px solid;
    background-color: rgb(245, 245, 245);
    visibility: hidden;
}
.parent .kid1 .get-receipt .container{
    width: 100%;
}
.parent .kid1 .get-receipt .container span{
    display: block;
}
.parent .kid1 .get-receipt .receipt-body{
    margin-bottom: 10px;
}
.parent .kid1 .get-receipt .receipt-accounment{
    border-top: 1px solid;
}
.parent .kid1 .get-receipt .receipt-accounment h4,
.parent .kid1 .get-receipt .receipt-accounment h5{
    margin: 7px 0 3px 0;
}

/* kid2  */
.parent .kid2 img{
    width: 100%;
    height: 40%;
    
}
.parent .kid2 .chooses{
     width: 100%;
     height: 40%;    

}
.parent .kid2 .chooses button{
    display: table;
    margin: 10px auto;
    width: 90%;
    height: 50px;
    padding: 5px;
    text-align:left;
    background-color: white;
    font-size: large;
    color: darkblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.parent .kid2 .chooses .Enter-to-Search input{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: none;
}
.parent .kid2 .pay-button{
    width: 100%;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    
}
.parent .kid2 .pay-button h1{
    padding: 10px 0 10px 0;
    margin: 0;
}
.parent .kid2 .edite-products{
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
}
.parent .kid2 .edite-products .edite-product-button button{
    margin: 15px;
    padding: 10px;
    width: 150px;
}
.parent .kid2 .product-elements div input{
    padding: 10px;
    width: 95%;
}
.parent .kid2 .product-elements .form-group0{
    padding-bottom: 15px;
}
.parent .kid2 .product-elements .form-group0 label{
    display: flex;
}
.parent .kid2 .product-elements .form-group0 span{
    display: flex;
    color: red;
}
.parent .kid2 .product-elements #done{
    background-color:#82e482;
    width: 50%;
    padding: 10px;
    font-size: 24px;
    color: #ecffec;
    font-weight: bolder;
    border-radius: 20px;
    margin: auto;
    visibility:hidden;

    
}